.table-responsive
  %table.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th Name
        %th Company Name
        %th Parent Company
        %th Type
        %th Status
        %th
        %th
    %tbody
      - feeds.each do |feed|
        = content_tag_for(:tr, feed) do
          %td= link_to feed.name, feed
          %td= link_to feed.company.name, feed.company
          %td= feed.try(:company).try(:parent_company).try(:name)
          %td= feed.feed_type.name
          %td= feed.feed_status.name
          %td= link_to "Edit", edit_feed_path(feed), class: "btn btn-xs btn-link" if current_user && current_user.admin?
          %td= link_to "Delete", feed, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-xs btn-danger" if current_user && current_user.admin?