= form_for(@feed, html: { class: "form-horizontal"} ) do |f|
  - if @feed.errors.any?
    #error_explanation
      %h2
        = pluralize(@feed.errors.count, "error")
        prohibited this feed from being saved:
      %ul
        - @feed.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, class: "col-sm-4 control-label"
    .col-sm-8
      = f.text_field :name, placeholder: "Name", class: "form-control"
  .form-group
    = f.label :company_id, class: "col-sm-4 control-label"
    .col-sm-8
      = collection_select(:feed, :company_id, Company.all, :id, :name, prompt: "Select Company")
  .form-group
    = f.label :feed_type_id, class: "col-sm-4 control-label"
    .col-sm-8
      = collection_select(:feed, :feed_type_id, FeedType.all, :id, :name, prompt: "Select Feed Type")
  .form-group
    = f.label :feed_frequency_id, class: "col-sm-4 control-label"
    .col-sm-8
      = collection_select(:feed, :feed_frequency_id, FeedFrequency.all, :id, :name, prompt: "Select Feed Frequency")
  .form-group
    = f.label :feed_status_id, class: "col-sm-4 control-label"
    .col-sm-8
      = collection_select(:feed, :feed_status_id, FeedStatus.all, :id, :name, prompt: "Select Feed Status")
  .form-group
    = f.label :stage_feed_url, class: "col-sm-4 control-label"
    .col-sm-8
      = f.text_field :stage_feed_url, value: "https://", class: "form-control"
  .form-group
    = f.label :production_feed_url, class: "col-sm-4 control-label"
    .col-sm-8
      = f.text_field :production_feed_url, value: "https://", class: "form-control"
  .form-group
    = f.label :production_start_date, class: "col-sm-4 control-label"
    .col-sm-8
      = f.date_field :production_start_date
  .form-group
    = f.label :production_end_date, class: "col-sm-4 control-label"
    .col-sm-8
      = f.date_field :production_end_date
  .form-group
    = f.label :notes, class: "col-sm-4 control-label"
    .col-sm-8
      = f.text_area :notes, class: "form-control"
  .form-group
    .col-sm-offset-3.col-sm-8
      = f.submit class: "btn btn-primary"