= simple_form_for @feed, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f|
  = f.error_notification
  = f.input :name, placeholder: "Name"
  = f.association :company, prompt: "Select Company"
  = f.association :feed_type, label: "Feed Type:", prompt: "Select Feed Type"
  = f.input :transaction_type, label: "Transaction Type", placeholder: "ACORD Transaction Type"
  = f.association :feed_frequency, label: "Feed Frequency", prompt: "Select Feed Frequency"
  = f.association :feed_status, label: "Feed Status", prompt: "Select Feed Status", as: :radio_buttons
  %hr
  = f.association :source_system_type, label: "Source System Type", collection: SystemType.all, prompt: "Select System Type", include_blank: true
  = f.association :destination_system_type, label: "Destination System Type", collection: SystemType.all, prompt: "Select System Type", include_blank: true
  = f.association :source_transmission_type, label: "Source Transmission Type", collection: SystemType.all, prompt: "Select System Type", include_blank: true
  = f.association :destination_transmission_type, label: "Destination Transmission Type", collection: SystemType.all, prompt: "Select System Type", include_blank: true
  = f.input :stage_feed_url, label: "Stage Feed URL", placeholder: "http://..."
  = f.input :production_feed_url, label: "Production Feed URL", placeholder: "http://..."
  = f.input :production_start_date, label: "Production Start Date", as: :date, html5: true
  = f.input :production_end_date, label: "Production End Date", as: :date, html5: true
  %hr
  = f.input :sent_to_data_rail, label: "Sent to DataRail?"
  = f.input :enhanced_carrier_status, label: "Enhanced Carrier Status?"
  = f.input :data_rail_api_key, label: "DataRail API Key"
  = f.input :data_rail_password, label: "DataRail Password"
  = f.input :data_rail_queue_priority, label: "DataRail Queue Priority"
  = f.input :data_view_username, label: "DataView Username"
  = f.input :data_view_password, label: "DataView Password"
  %hr
  = f.input :partner, label: "Partner (Partner Connections)", placeholder: "Name of Partner"
  = f.association :parent_feed, label_method: :name_with_company, label: "Parent Feed", prompt: "Select Parent Feed", include_blank: true
  = f.input :split_by_data_rail, label: "Split by DataRail?"
  %hr
  = f.input :notes
  = f.button :submit, class: "btn-primary"
  = link_to "Cancel", :back, class: "btn btn-default"