- provide(:title, "Feed Details")
.container
  .row
    .col-md-12
      %br
      %ol.breadcrumb
        %li= link_to "Home", root_path
        - if @feed.company.parent_company.nil?
          %li= link_to "Companies", companies_path
        - else
          %li= link_to "Parent Companies", parent_companies_path
          %li= link_to @feed.company.parent_company.name, parent_company_path(@feed.company.parent_company)
        %li= link_to @feed.company.name, company_path(@feed.company)
        %li.active= @feed.name
      %h3= "#{@feed.company.name} - #{@feed.name} Feed Details"
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-toggle" => "collapse", href: "#collapseOne"}
              General Feed Information
        #collapseOne.panel-collapse.collapse.in
          .panel-body
            %dl.dl-horizontal
              %dt
                %b Name:
              %dd= @feed.name
              %dt
                %b Carrier:
              %dd= link_to @feed.company.name, company_path(@feed.company) unless @feed.company.nil?
              %dt
                %b Parent Company:
              %dd= link_to @feed.company.parent_company.name, parent_company_path(@feed.company.parent_company) unless @feed.company.parent_company.nil?
              %dt
                %b Feed Type:
              %dd= @feed.feed_type.name
              %dt
                %b Transaction Type:
              %dd= @feed.transaction_type
              %dt
                %b Feed Status:
              %dd= @feed.feed_status.name
              %dt
                %b Feed Frequency:
              %dd= @feed.feed_frequency.try(:name)
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-toggle" => "collapse", href: "#collapseTwo"}
              Additional Feed Information
        #collapseTwo.panel-collapse.collapse.in
          .panel-body
            %dl.dl-horizontal
              %dt
                %abbr{title: "Source to Destination Sys. Type", rel: 'tooltip'} Source -> Dest.
              %dd= "#{@feed.try(:source_system_type).try(:name)} -> #{@feed.try(:destination_system_type).try(:name)}"
              %dt
                %abbr{title: "Source Transmission Type", rel: 'tooltip'} Source Trans. Type:
              %dd= @feed.try(:source_transmission_type).try(:name)
              %dt
                %abbr{title: "Destination Transmission Type", rel: 'tooltip'} Dest. Trans. Type:
              %dd= @feed.try(:destination_transmission_type).try(:name)
              %dt
                %b Stage URL:
              %dd= link_to @feed.stage_feed_url, @feed.stage_feed_url, target: "_blank"
              %dt
                %b Production URL:
              %dd= link_to @feed.production_feed_url, @feed.production_feed_url, target: "_blank"
              %dt
                %b Production Start Date:
              %dd= @feed.production_start_date.strftime("%m-%d-%Y") unless @feed.production_start_date.nil?
              %dt
                %b Production End Date:
              %dd= @feed.production_end_date.strftime("%m-%d-%Y") unless @feed.production_end_date.nil?
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-toggle" => "collapse", href: "#collapseSix"}
              DataRail/DataView
        #collapseSix.panel-collapse.collapse.in
          .panel-body
            %dl.dl-horizontal
              %dt
                %b Sent to DataRail?
              %dd= @feed.try(:sent_to_data_rail)
              %dt
                %b ECS?
              %dd= @feed.try(:enhanced_carrier_status)
              %dt
                %b DataRail API Key:
              %dd= @feed.try(:data_rail_api_key)
              %dt
                %b DataRail Password:
              - if current_user.admin?
                %dd= @feed.try(:data_rail_password)
              - else
                %dd ********
              %dt
                %b DR Queue Priority:
              %dd= @feed.try(:data_rail_queue_priority)
              %dt
                %b DataView Username:
              %dd= @feed.try(:data_view_username)
              %dt
                %b DataView Password:
              - if current_user.admin?
                %dd= @feed.try(:data_view_password)
              - else
                %dd ********
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-toggle" => "collapse", href: "#collapseFive"}
              Partner Connections
        #collapseFive.panel-collapse.collapse.in
          .panel-body
            %dl.dl-horizontal
              %dt
                %b Partner
              %dd= @feed.try(:partner)
              %dt
                %b Split by DataRail?
              %dd= @feed.try(:split_by_data_rail)
              %dt
                %b Parent Feed:
              %dd= "#{@feed.try(:parent_feed).try(:company).try(:name)} - #{@feed.try(:parent_feed).try(:name)}"
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-toggle" => "collapse", href: "#collapseThree"}
              Notes
        #collapseThree.panel-collapse.collapse.in
          .panel-body
            = @feed.notes
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{"data-toggle" => "collapse", href: "#collapseFour"}
              Feed Updates
        #collapseFour.panel-collapse.collapse.in
          .panel-body
            %dl.dl-horizontal
              %dt
                %b Created At:
              %dd= @feed.created_at
              %dt
                %b Updated At:
              %dd= @feed.try(:updated_at)
              %dt
                %b Updated By:
              %dd= find_updater(@feed.originator).try(:email)
              / %dt
              /   %b Last Change:
              / %dd= @feed.versions.last.try(:changeset)
  .row
    .col-md-12
      .well
        = link_to 'Edit', edit_feed_path(@feed), title: 'Edit the current Feed', rel: 'tooltip', class: "btn btn-primary" if current_user.admin?
        = link_to 'Back', :back, title: 'Back to Previous Page', rel: 'tooltip', class: "btn btn-default"