%td
  = link_to user.email, user
%td
  - if user == current_user
    = user.role
  - else
    = form_for(user) do |f|
      = f.select(:role, User.roles.keys.map {|role| [role,role]})
      = f.submit 'Change Role', :class => 'button-xs'
%td
  = link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn button-xs btn-danger') unless user == current_user
