.container
  .row
    .col-md-12
      %h3 DataCarrier
      %hr
      - if current_user.nil?
        .jumbotron
          %p Please sign up or sign in to access Carrier Data
          = button_to 'Login', user_session_path, method: 'get', class: 'btn btn-primary btn-lg'
      - else
        - unless @recent_companies.nil?
          .row
            .col-md-12
              .panel.panel-primary
                .panel-heading
                  %h4.panel-title
                    %a{"data-toggle" => "collapse", href: "#collapseCompanyOne"}
                      Companies - Last edited
                #collapseCompanyOne.panel-collapse.collapse.in
                  .table
                    %table.table.table-hover
                      %thead
                        %tr
                          %th Name
                          %th Last Updated Date
                          %th Last Updated Time
                          %th Last Updated By
                      %tbody
                        - @recent_companies.each do |company|
                          %tr
                            %td= link_to "#{company.name}", company
                            %td= "#{company.updated_at.strftime("%m-%d-%Y")}"
                            %td= "#{company.updated_at.strftime("%H:%M:%S %Z")}"
                            %td= find_updater(company.originator).try(:email)
        - unless @recent_parent_companies.nil?
          .row
            .col-md-12
              .panel.panel-primary
                .panel-heading
                  %h4.panel-title
                    %a{"data-toggle" => "collapse", href: "#collapsePCOne"}
                      Parent Companies - Last edited
                #collapsePCOne.panel-collapse.collapse.in
                  .table
                    %table.table.table-hover
                      %thead
                        %tr
                          %th Name
                          %th Last Updated Date
                          %th Last Updated Time
                          %th Last Updated By
                      %tbody
                        - @recent_parent_companies.each do |parent_company|
                          %tr
                            %td= link_to "#{parent_company.name}", parent_company
                            %td= "#{parent_company.updated_at.strftime("%m-%d-%Y")}"
                            %td= "#{parent_company.updated_at.strftime("%H:%M:%S %Z")}"
                            %td= find_updater(parent_company.originator).try(:email)
        - unless @recent_feeds.nil?
          .row
            .col-md-12
              .panel.panel-primary
                .panel-heading
                  %h4.panel-title
                    %a{"data-toggle" => "collapse", href: "#collapseFeedOne"}
                      Feeds - Last edited
                #collapseFeedOne.panel-collapse.collapse.in
                  .table
                    %table.table.table-hover
                      %thead
                        %tr
                          %th Name
                          %th Last Updated Date
                          %th Last Updated Time
                          %th Last Updated By
                      %tbody
                        - @recent_feeds.each do |feed|
                          %tr
                            %td= link_to "#{feed.name}", feed
                            %td= "#{feed.updated_at.strftime("%m-%d-%Y")}"
                            %td= "#{feed.updated_at.strftime("%H:%M:%S %Z")}"
                            %td= find_updater(feed.originator).try(:email)