.nested-fields.feed-tag-fields
  #feed_from_list
    = f.association :feed, collection: Feed.all, label_method: :name_with_company, :prompt => 'Choose an existing Feed'
    = f.association :contact_type
    = f.input :start_date, as: :date, html5: true
    = f.input :end_date, as: :date, html5: true
  / = link_to_add_association 'or create a new contact', f, :contact
  = link_to_remove_association "Remove Feed from this Contact", f
  %hr