= simple_form_for @contact, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f|
  = f.error_notification
  = f.input :first_name, placeholder: "First Name"
  = f.input :last_name, placeholder: "Last Name"
  = f.input :phone
  = f.input :address_line_1, label: "Address Line 1", placeholder: "Address Line 1"
  = f.input :address_line_2, label: "Address Line 2", placeholder: "Address Line 2"
  = f.input :address_line_3, label: "Address Line 3", placeholder: "Address Line 3"
  = f.input :city, placeholder: "City"
  = f.association :state, include_blank: true, prompt: "Select State"
  = f.input :zip, placeholder: "Zip"
  = f.input :email, placeholder: "Email Address"
  = f.association :gender, include_blank: true, prompt: "Select Gender", as: :radio_buttons
  = f.input :title, placeholder: "Title"
  = f.input :notes
  = f.button :submit, class: "btn-primary"
  = link_to "Cancel", :back, class: "btn btn-default"
