= simple_form_for @company, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f|
  = f.error_notification
  = f.input :name, placeholder: "Name"
  = f.input :additional_name, label: "Additional Name", placeholder: "Alias"
  = f.association :parent_company, prompt: "Select Parent Company", include_blank: true
  = f.association :company_type, prompt: "Select Company Type", as: :radio_buttons
  = f.input :address_line_1, label: "Address Line 1", placeholder: "Line 1"
  = f.input :address_line_2, label: "Address Line 2", placeholder: "Line 2"
  = f.input :address_line_3, label: "Address Line 3", placeholder: "Line 3"
  = f.input :city, placeholder: "City"
  = f.association :state, prompt: "Select State", include_blank: true
  = f.input :zip, placeholder: "Zip"
  = f.input :url, label: "URL", placeholder: "URL"
  = f.input :naic_code, label: "NAIC Code", placeholder: "NAIC Code"
  = f.input :ai_carrier_code, label: "AI Carrier Code", placeholder: "AI Carrier Code"
  = f.input :notes
  = f.button :submit, class: "btn-primary"
  = link_to "Cancel", :back, class: "btn btn-default"