- provide(:title, "Edit Parent Company")
.container
  .row
    %h3= "Edit #{@parent_company.name}"
  %br
  .row
    .col-sm-7
      = render 'form'
  .row
    .col-sm-offset-3.col-sm-9
      = link_to 'Show', @parent_company
      |
      = link_to 'Back', parent_companies_path