- provide(:title, "Parent Company Details")
.container
  .row
    .col-md-12
      %br
      %ol.breadcrumb
        %li= link_to "Home", root_path
        %li= link_to "Parent Companies", parent_companies_path
        %li.active= @parent_company.name
      %h3= "#{@parent_company.name} Details"
  .row
    .col-md-5
      .well
        %p
          %b Name:
          = @parent_company.name
        %p
          %b Additional Name:
          = @parent_company.additional_name
  .row
    .col-md-5
      .well
        = link_to 'Edit', edit_parent_company_path(@parent_company), class: "btn btn-primary" if current_user.admin?
        = link_to 'Back', parent_companies_path, class: "btn btn-default"

  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = "#{@parent_company.name} Child Companies"
        = render 'companies/companies'